


:root {
    --white:white;
    --dodgerBlue: dodgerblue;
    --black:black;
    --grey:grey;
    --fs:15px;

}


* {
    box-sizing: border-box;
}


body {
    margin:0;
    padding: 0;
    overflow-x: hidden;
    background:linear-gradient(skyblue, whitesmoke);
    background-repeat:no-repeat
}


 

/*--------------USER FORM --------------------*/


.form-container {
    width: 100%;
    overflow: hidden;
}



.User-Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    max-width: 1300px;
    margin-top: 140px;
    gap:10px
}


.User-Form  label {
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
 
}

.User-Form  input {
    padding:1em 3em;
    text-align: center;
    border:none;
    outline:none;
    border-radius: 3%;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


.User-Form  button {
    padding:0.9em 3em;
    border:none;
    outline: none;
    font-size: 1rem;
    background:green;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}



.User-Form  button:hover {
    background-color: lightgreen;
}